/*--- GENERAL ---*/

body {
	margin: 0;
  transition: width 2s;
    -webkit-transition: width 2s;

}

body:first-child{





}

.container {
padding-right: 15px;
padding-left: 15px;
margin-left: auto;
margin-right: auto;


}

.section {
height: 100vh;
width: 100%;
display: table;
position: relative;	
}

.half-section {
height: 50vh;
width: 100%;
display: table;
position: relative;	

}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 19px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
  transition: .2s ease all;
}

.btn2 {

font-family: Arial;
color: #ffffff;
font-size: 19px;
padding: 10px 20px 10px 20px;
text-decoration: none;
text-align: center;
border: solid 3px #3498db;
transition: .2s ease all;

}

.btn:hover {
  background: #0069ab;
  text-decoration: none;
}

.btn2:hover {
  border: solid 3px #0069ab;

}

.section h2 {

	margin-top: 10vh;
	margin-bottom: 10vh;
}

#contact h3 {
  margin-top: 20vh;
}

/*---Nav---*/
#nav {
    background: #333;
    bottom: 0;
    overflow: hidden;
    height: 32px;
    z-index: 3;
    width: 100%;
	display: table;
	position: absolute;	
}
#nav ul li {
    border-left: 1px solid #999;
    border-right: 1px solid #cacaca;
    float:right;
    font-weight: bold;
    line-height:35px;
    list-style: none;
    text-transform: uppercase;
}
#nav a {
    color: white;
    display:block;
    padding: 0 20px;
    text-decoration:none;
}
#nav a:hover {
    color:gray;
}

.navTop {
	top: 0;
	position: fixed !important;
}





/* --- Hero --- */

.land-hero {
	padding-top: 25vh;
	position: relative;
	height: 100vh;
	width: 100%;
	display: table;
	position: relative;	
}

.hero-container {
	margin-left: auto;
	margin-right: auto;
}

.hero-content {
position: fixed;

}



.hero-sub {
	margin-bottom: 9vh;

}

.hero-name {


}

.hero-background {
	position: fixed;
	left: 0;
	z-index: -1;
	top: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: .6;
	background-image: url('https://wallpapercave.com/wp/kSQdCxM.jpg');

}
/*---ABOUT---*/
#about {
	background-color: #D3D3D3;
  transition: width 2s;
  -webkit-transition: width 2s;

}

.about-cell, .contact-cell {

	padding: 30px;


}

.about-icon {
	margin-bottom: 5vh;

}

#skillbar {
margin: 0;
position: relative;
margin-bottom: 2vh;


}

.skill-set {
	position: relative;
}

.skill-set p {
margin-top: 1rem;
margin-bottom: .5rem;
}

.skillbar {
 	background:#000; 
    height: 1vh; 

}

.skillfill1 {
    height: 1vh;
    background:#2187e7; 
    box-shadow:0px 0px 10px 1px;
    position: absolute;
    transition: width 1s;
    -webkit-transition: width 1s;
    width: 70%;
}

.skillfill2 {
    height: 1vh;
    background:#2187e7; 
    box-shadow:0px 0px 10px 1px;
    position: absolute;
    transition: width 1.3s;
    -webkit-transition: width 1.3s;
    width: 75%;
}

.skillfill3 {
    height: 1vh;
    background:#2187e7; 
    box-shadow:0px 0px 10px 1px;
    position: absolute;
    transition: width 1.6s;
    -webkit-transition: width 1.6s;
    width: 60%;
}

.skillfill4 {
    height: 1vh;
    background:#2187e7; 
    box-shadow:0px 0px 10px 1px;
    position: absolute;
    transition: width 2s;
    -webkit-transition: width 2s;
    width: 85%;
}

.skillfill5 {
    height: 1vh;
    background:#2187e7; 
    box-shadow:0px 0px 10px 1px;
    position: absolute;
    transition: width 2.4s;
    -webkit-transition: width 2.4s;
    width: 75%;
}

.skillfill6 {
    height: 1vh;
    background:#2187e7; 
    box-shadow:0px 0px 10px 1px;
    position: absolute;
    transition: width 2.8s;
    -webkit-transition: width 2.8s;
    width: 30%;
}

.skillfill7 {
    height: 1vh;
    background:#2187e7; 
    box-shadow:0px 0px 10px 1px;
    position: absolute;
    transition: width 3s;
    -webkit-transition: width 3s;
    width: 55%;
}

.skillfill8 {
    height: 1vh;
    background:#2187e7; 
    box-shadow:0px 0px 10px 1px;
    position: absolute;
    transition: width 3.5s;
    -webkit-transition: width 3.5s;
    width: 65%;
}

.skillfill9 {
    height: 1vh;
    background:#2187e7; 
    box-shadow:0px 0px 10px 1px;
    position: absolute;
    transition: width 4s;
    -webkit-transition: width 4s;
    width: 70%;
}

.skill-less {
    width: 0;
}


/*---PORTFOLIO---*/
#portfolio {}

.portfolio {
	background-color: #9ec3ff;
}

.thumb {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 1rem;
	border: solid 4px transparent;
	line-height: 0;
	background-color: 000;
}

.thumb-overlay {
	color: #fffff;

}

.thumb img {
-webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.80); 
box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.80);
background: : black;
-webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;
}


.thumb img:hover {
-webkit-box-shadow: 1px 2px 5px 0px rgba(255,255,255,0.85); 
box-shadow: 1px 2px 5px 0px rgba(255,255,255,0.85);
opacity: .5;
-webkit-filter: blur(3px);

}

.thumb .thumb-title {
position: absolute;
opacity: 0;
color: #ffffff;
margin-top: 10%;
margin-left: 11%;
-webkit-transition: all .2s ease;
-moz-transition: all .2s ease;
-o-transition: all .2s ease;
transition: all .2s ease;
}

.thumb:hover .thumb-title {
opacity: 1;
color: #ffffff;
margin-top: 5%;
margin-left: 11%;
}

.dark {
color: black;
background: black;
height: 100%;

}


.modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  text-align: right;
  text-decoration: none;
  margin-right: 3vh;
}

.modal-close:hover {
  color: #000;
}

.modal-content {
	background-color: #ffffff;
	height: 70vh;
	width: 70vw;
	margin: auto;


}

.modalbg1 {
    background: url('../projects/kentFoundation.jpg') no-repeat 0px;
    background-size: auto auto;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: modalslide 20s infinite;
    animation-fill-mode: forwards;
    opacity: 1;
}

.modalbg2 {
    background: url('../projects/kentPortal.jpg') no-repeat 0px;
    background-size: auto auto;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: modalslide 20s infinite;
    animation-fill-mode: forwards;
    opacity: 1;
}

.modalbg3 {
    background: url('../projects/kentAuth.jpg') no-repeat 0px;
    background-size: auto auto;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: modalslide 20s infinite ease;
    opacity: 1;
}

.modalbg4 {
    background: url('../projects/kentDrupal.jpg') no-repeat 0px;
    background-size: auto auto;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: modalslide 20s infinite ease;
    opacity: 1;
}

.modalbg5 {
    background: url('../projects/awc3GFX.jpg') no-repeat 0px;
    background-size: auto auto;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: modalslide 20s infinite ease;
    opacity: 1;
}

.modal-content-container {
  padding: 5vh;
	height: 90%;

}

 @keyframes modalslide {

  0% {
    background-position: 0px;
  }

  50% {
    background-position: -350px;

  }

  100% {
    background-position: 0px;
  }

 }

/*--- CONTACT ---*/

#footer {
background: #D3D3D3;
height: 15vh;
opacity: .7;
}

#footer i {
  margin-top: 2vh;
  margin-left: 1vh;
  transition: all .1s ease;
  color: 
}

#footer i:hover {
  color:  #737373;

}

.copyright {
  letter-spacing: .1em;
  font-size: .8em;
  opacity: .7;
}