/*--- GENERAL ---*/

body {
	margin: 0;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;

}

body:first-child{





}

.fade-in {
  opacity: 0;
}

.mh25 {
  margin-top: 25vh;
  color: white;
}

.text-center {
  text-align: center;
}

.container {
padding-right: 15px;
padding-left: 15px;
margin-left: auto;
margin-right: auto;


}

.section {
height: 100vh;
width: 100%;
display: table;
position: relative;	
}

.half-section {
height: 50vh;
width: 100%;
display: table;
position: relative;	

}

.ghost {
  opacity: .2;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

  /* IE 5-7 */
  filter: alpha(opacity=20);

  /* Netscape */
  -moz-opacity: 0.2;

  /* Safari 1.x */
  -khtml-opacity: 0.2;

  /* Good browsers */
  opacity: 0.2;
}

.btn {
  background: #3498db;
  border: solid 3px #3498db;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 19px;
  text-decoration: none;
  text-align: center;
  transition: .2s ease all;
}

.btn2 {

font-family: Arial;
color: #ffffff;
font-size: 19px;
text-decoration: none;
text-align: center;
border: solid 3px #3498db;
transition: .2s ease all;

}

.btn:hover {
  background: #0069ab;
  text-decoration: none;
}

.btn2:hover {
  border: solid 3px #0069ab;

}

.section h2 {

	margin-top: 10vh;
	margin-bottom: 10vh;
}

#contact h3 {
  margin-top: 20vh;
}

.fa-3x {
  font-size: 3em;
}

.h100 {
  height: 100%;

}

/*---Nav---*/
#nav {
    bottom: 0;
    overflow: hidden;
    height: 32px;
    z-index: 3;
    width: 100%;
	 display: table;
	 position: absolute;	
}



#nav ul li {
    float:right;
    line-height:35px;
    list-style: none;
    text-transform: uppercase;
}
#nav a {
    color: white;
    display:block;
    padding: 0 20px;
    text-decoration:none;
}

#nav a:hover {
    color:gray;
}

.navTop {
	top: 0;
	position: fixed !important;
  background: #333 !important;

}

nav .logo {
  font-family: 'Audiowide', cursive;
  text-transform: uppercase;
  color: #3498db;
  transition: 1s ease all;
}

nav .logo:hover {
  color: #a8d6f4;
}

/* Nav2*/

nav {
  z-index: 50;
  position: fixed;
  top: 5px;
  left: 5px;
  width: 16.66667%;
}

nav ul {
  
  
  margin-left: .5rem;
}

nav li {
  display: inline-block;
}

nav li a {
  text-align: center;
  color: #f5f5f5 ;
  opacity: .7;
}


/* --- Hero --- */

.land-hero {
	padding-top: 25vh;
	position: relative;
	height: 100vh;
	width: 100%;
	display: table;
	position: relative;

}

.land-hero .btn, .land-hero .btn2 {
  padding: 10px 20px 10px 20px;
}

#particles-js {
  height: 100vh;
  width: 100%;
  top: 0;
  position: fixed;
}

.hero-container {
	margin-left: auto;
	margin-right: auto;
}

.land-hero h1, .land-hero h2, .land-hero h3, .land-hero h4, .land-hero h5 {
  color: #ffffff;


}

.hero-content {
  position: relative;
  text-align: center;
}

.about-content {
  color: white;
  height: 100vh;
}



.hero-sub {
	margin-bottom: 9vh;

}


.hero-background {
	position: fixed;
	left: 0;
	z-index: -10;
	top: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: 1;
  background-color: #000;

}


/*---ABOUT---*/


#about {
  transition: width 2s;
  -webkit-transition: width 2s;

}

.about-cell, .contact-cell {

	padding: 30px;


}

.about-icon {
	margin-bottom: 5vh;

}

#skillbar {
margin: 0;
position: relative;
margin-bottom: 1vh;


}

.skill-set {
	position: relative;
}

.skill-set p {
margin-top: .5rem;
margin-bottom: .5rem;
}

.skillbar {
 	background:#000; 
    height: 1vh; 

}

.skillfill1 {
    height: 1vh;
    background:#2187e7; 
    box-shadow:0px 0px 10px 1px;
    position: absolute;
    transition: width 1s;
    -webkit-transition: width 1s;
    width: 0%;
}

.icon-reveal:hover .skillfill1 {
  width: 75%;
}

.skillfill2 {
    height: 1vh;
    background:#2187e7; 
    box-shadow:0px 0px 10px 1px;
    position: absolute;
    transition: width 1.3s;
    -webkit-transition: width 1.3s;
    width: 0%;
}

.icon-reveal:hover .skillfill2 {
  width: 80%;
}

.skillfill3 {
    height: 1vh;
    background:#2187e7; 
    box-shadow:0px 0px 10px 1px;
    position: absolute;
    transition: width 1.6s;
    -webkit-transition: width 1.6s;
    width: 0%;
}

.icon-reveal:hover .skillfill3 {
  width: 60%;
}

.skillfill4 {
    height: 1vh;
    background:#2187e7; 
    box-shadow:0px 0px 10px 1px;
    position: absolute;
    transition: width 1s;
    -webkit-transition: width 1s;
    width: 0%;
}

.icon-reveal:hover .skillfill4 {
  width: 85%;
}

.skillfill5 {
    height: 1vh;
    background:#2187e7; 
    box-shadow:0px 0px 10px 1px;
    position: absolute;
    transition: width 1.3s;
    -webkit-transition: width 1.3s;
    width: 0%;
}

.icon-reveal:hover .skillfill5 {
  width: 75%;
}

.skillfill6 {
    height: 1vh;
    background:#2187e7; 
    box-shadow:0px 0px 10px 1px;
    position: absolute;
    transition: width 1.6s;
    -webkit-transition: width 1.6s;
    width: 0%;
}

.icon-reveal:hover .skillfill6 {
  width: 35%;
}

.skillfill7 {
    height: 1vh;
    background:#2187e7; 
    box-shadow:0px 0px 10px 1px;
    position: absolute;
    transition: width 1s;
    -webkit-transition: width 1s;
    width: 0%;
}

.icon-reveal:hover .skillfill7 {
  width: 45%;
}

.skillfill8 {
    height: 1vh;
    background:#2187e7; 
    box-shadow:0px 0px 10px 1px;
    position: absolute;
    transition: width 1.3s;
    -webkit-transition: width 1.3s;
    width: 0%;
}

.icon-reveal:hover .skillfill8 {
  width: 55%;
}

.skillfill9 {
    height: 1vh;
    background:#2187e7; 
    box-shadow:0px 0px 10px 1px;
    position: absolute;
    transition: width 1.3s;
    -webkit-transition: width 1.6s;
    width: 0%;
}

.icon-reveal:hover .skillfill9 {
  width: 65%;
}



/* --------
    About 2
-------------*/

.about2 {
    background: rgba(77,47,176,.7);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    --webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.75);
    z-index: 5;
}

.skill-reveal {
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    background: rgba(64,48,117, .5);
    z-index: 30;
    padding: 0 15px 0 15px;
    height: 100%;
    transform: translateX(400px);
    z-index: 20;
}

.skill-reveal p {
  color: #ffffff;
}


.desc-reveal {
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    background: #efefef;
    z-index: 30;
    padding: 0 15px 0 15px;
    height: 100%;
    transform: translateX(400px);
    z-index: 25;
}

.icon-reveal {
    overflow: hidden;
    width: 100%;
}

.icon-reveal:hover .fa {
    opacity: .1;
    -khtml-opacity: 0.1;
}

.icon-reveal:hover .fa-about {
  font-size: 4em;
}

.icon-reveal:hover .skill-reveal {
    left: 0;
}



.icon-container {
    margin-top: -53%;
}

.icon-container .fa {
  color: #887CAF;
}

.icon-reveal:hover .skill-reveal {
    transform: translateX(0px);
}

.fa-about {
  border-radius: 5px 20px 5px;
  background: rgba(255, 255, 255, .1);
  padding: 10px;
  transition: .5s all;
  -webkit-transition: .5s all;
}

#desc1 {
  margin-top: 15px;
  font-color: black;
}

/*---PORTFOLIO---*/



#portfolio {}

.portfolio {

}


.thumb {
	display: inline-block;
	max-width: 100%;
	line-height: 0;
	background-color: 000;
}

.thumb-overlay {
	color: #fffff;

}

.thumb img {
background: : black;
-webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;
transform: scale(1.3);
}


.thumb img:hover {
-webkit-box-shadow: 1px 2px 5px 0px rgba(255,255,255,0.85); 
box-shadow: 1px 2px 5px 0px rgba(255,255,255,0.85);
opacity: .5;
-webkit-filter: blur(3px);
transform: scale(1.35);

}

.thumb .thumb-title {
position: absolute;
opacity: 0;
color: #ffffff;
margin-top: 10%;
margin-left: 1%;
-webkit-transition: all .2s ease;
-moz-transition: all .2s ease;
-o-transition: all .2s ease;
transition: all .2s ease;
}

.thumb-subtitle {
position: absolute;
opacity: 0;
color: #ffffff;
margin-top: 10%;
margin-left: 1%;
-webkit-transition: all .2s ease;
-moz-transition: all .2s ease;
-o-transition: all .2s ease;
transition: all .2s ease;

}

.thumb:hover .thumb-title {
opacity: 1;
color: #ffffff;
margin-top: 5%;
margin-left: 1%;
}

.thumb:hover .thumb-subtitle {
opacity: 1;
color: #ffffff;
margin-top: 10%;
margin-left: 1%;
}

.dark {
color: black;
background: black;
height: 100%;
overflow: hidden;

}


.modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  text-align: right;
  text-decoration: none;
  margin-right: 3vh;
  transition: .2s ease all;
  -webkit-transition: .2 ease all;
}

.modal-close:hover {
  color: #000;
}
/*
.modal-content {
	background-color: #ffffff;
	height: 70vh;
	width: 70vw;
	margin: auto;


}
*/
.modal-content .fa-chevron-left {
  color: #3498db;
}

.modalbg1 {
    background: url('../projects/kentFoundation.jpg') no-repeat 0px;
    background-size: auto auto;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: modalslide 20s infinite;
    animation-fill-mode: forwards;
    opacity: 1;
}

.modalbg2 {
    background: url('../projects/kentPortal.jpg') no-repeat 0px;
    background-size: auto auto;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: modalslide 20s infinite;
    animation-fill-mode: forwards;
    opacity: 1;
}

.modalbg3 {
    background: url('../projects/kentAuth.jpg') no-repeat 0px;
    background-size: auto auto;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: modalslide 20s infinite ease;
    opacity: 1;
}

.modalbg4 {
    background: url('../projects/kentDrupal.jpg') no-repeat 0px;
    background-size: auto auto;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: modalslide 20s infinite ease;
    opacity: 1;
}

.modalbg5 {
    background: url('../projects/awc3GFX.jpg') no-repeat 0px;
    background-size: auto auto;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: modalslide 20s infinite ease;
    opacity: 1;
}

.modal-content-container {
  padding: 5vh;
	height: 90%;

}

 @keyframes modalslide {

  0% {
    background-position: 0px;
  }

  50% {
    background-position: -350px;

  }

  100% {
    background-position: 0px;
  }

 }

/*--- MODAL Upgrades ---*/

#modal-1, #modal-2, #modal-3, #modal-4, #modal-5, #modal-6, #modal-7, #modal-8, #modal-9 {
  height: 600px;
  padding: 0;
}

.icon-close {
  background: #FFF;
  margin-bottom: 10px;
  position: absolute;
  right: -8px;
  top: -8px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 0;
  color: #a9a9a9;
  cursor: pointer;
}

.modal-img {
  max-height: 30%;
}

.modal-img img {
  display: block;
}


/*--- CONTACT ---*/



#footer {
height: 15vh;
z-index: 10;
}

#footer div {
z-index: 10;

}

#footer i {
  margin-top: 2vh;
  margin-left: 1vh;
  transition: all .1s ease;
  color: #ffffff;
  z-index: 10;
}

#footer i:hover {
  color:  #fefefe;
}

.copyright {
  letter-spacing: .1em;
  font-size: .9em;
  opacity: .7;
  color: #ffffff;
}

.copyright2 {
  letter-spacing: .1em;
  font-size: .65em;
  opacity: .7;
  color: #ffffff;
}




/* MEDIA QUERIES! ---
----------------------------------------------------------------------------------------------------*/



/* --- SMALL SCREEN! (Phones)
-------------------------------------------------- */

@media screen and (max-width: 39.9375em) {

.modal-content-container h3 {
  font-size: 2rem;
}

.modal-close {
margin-top: 10%

}

.modal-content-container .fa {
  margin-top: 3%;

}


#portfolio .btn {
  margin-top: 5vh;

}

.modal-content {
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  margin: auto;

}


.modalbg1, .modalbg2, .modalbg3, .modalbg4, .modalbg5 {
    background-size: auto auto;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: .2;
    animation: modalslide 40s infinite;
    position: fixed;
    height: 90vh;
    z-index: 4;
}

.content-mobile {
  z-index: 5;
  background-color: rgb(255, 140, 0, .1);
}

.modal-close {
  color: #000;
  opacity: .7;
}


}

/* --- MEDIUM!
Tablet, laptops, & Up -------------------------------------------------- */

@media screen and (min-width: 40em) {

.modal-content-container .fa {
  margin-top: 6%;
}

.hero-content {
  backface-visibility: hidden;
}


}